<!-- views/partials/footer.ejs -->
<div class="infomation">
    <div class="info"><a href="/"><i class="fa-solid fa-user"></i><span>TÀI KHOẢN</span></a></div>
    <div class="info"><a href="/"><i class="fa-solid fa-cart-shopping"></i><span>GIỎ HÀNG</span></a></div>
    <div class="info"><a href="/"><i class="fa-sharp fa-solid fa-house"></i><span>TRANG CHỦ</span></a></div>
    <div class="info"><a href="https://facebook.com/lethang2444"><i class="fa-brands fa-facebook"></i><span>FACEBOOK</span></a></div>
    <div class="info"><a href="https://www.instagram.com/lethang.1612"><i class="fa-brands fa-square-instagram"></i><span>INSTAGRAM</span></a></div>
    <div class="info" id="top"><a href="" onclick="scrollTop()"><i class="fa-solid fa-caret-up"></i><span>TOP</span></a></div>
</div>
<div class="footer">
    <div class="top-footer">
        <div class="ad">
            <div class="ad-web">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <h4>DỊCH VỤ TẬN TẬM</h4>
            </div>
            <div class="ad-web">
                <i class="fa-solid fa-book"></i>
                <h4>SẢN PHẨM ĐA DẠNG</h4>
            </div>
            <div class="ad-web">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>VẬN CHUYỂN CHU ĐÁO</h4>
            </div>
            <div class="ad-web">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <h4>GIÁ CẢ HỢP LÝ</h4>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="info-footer">
            <div class="link-footer">
                <h4>THỜI GIAN MỞ CỬA</h4>
                <ul>
                    <li>Ngày thường.... 8,00 đến 18:00</li>
                    <li>Thứ Bảy ... 9.00 đến 21.00</li>
                    <li>Chủ nhật ... 10:00 đến 21:00<li>
                    <li>Ngày lễ ... 10:00 đến 17:00<li>
                    <li>Tết...12:00 đến 17:00<li>
                 </ul>
            </div>
            <div class="link-footer">
                <h4>MENU</h4>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/">Cửa hàng</a></li>
                    <li><a href="/">Giỏ hàng</a></li>
                    <li><a href="/">Giới thiệu</a></li>
                    <li><a href="/">Liên hệ</a></li>
                </ul>
            </div>
            <div class="link-footer">
                <h4>LIÊN KẾT NHANH</h4>
                <ul>
                    <li><a href="/">Sách Thiếu Nhi</a></li>
                    <li><a href="/">Sách Văn học</a></li>
                    <li><a href="/">Sách Ngoại Văn</a></li>
                    <li><a href="/">Sách kinh doanh</a></li>
                    <li><a href="/">Văn Phòng Phẩm</a></li>
                </ul>
            </div>
            <div class="link-footer">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <ul>
                    <li><a href="/">Chính sách bảo mật</a></li>
                    <li><a href="/">Hướng dẫn mua hàng</a></li>
                    <li><a href="/">Phương thức thanh toán</a></li>
                    <li><a href="/">Phương thức vận chuyển</a></li>
                    <li><a href="/">Tin tuyển dụng</a></li>
                </ul>
            </div>
            <div class="link-footer">
                <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                <ul>
                    <li><a href="/">Liên hệ hỗ trợ</a></li>
                    <li><a href="/">Hệ thống cửa hàng</a></li>
                    <li><a href="/">Chính sách bảo mật</a></li>
                    <li><a href="/">Chính sách giao nhận</a></li>
                    <li><a href="/">Chính sách đổi trả</a></li>  
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div>© Wedsite được thực hiện bởi: Tống Lê Thắng</div>
    </div>
</div>