<!-- views/partials/header.ejs -->
<script>
    function alertMess(){
        var alert_mess = document.getElementById("alert_mess");
        alert_mess.style.opacity = "1"
        alert_mess.style.display = "block"
    }
</script>
<div class="alert" id="alert_mess">
    <span class="closebtn">&times;</span>  
    <strong>Thông báo !</strong> Bạn cần đăng nhập để thực hiện chức năng này. <a href="/account/login">Đăng nhập</a>
  </div>
  <% if(locals.error_messages.length > 0) {%> 
    <div class="alert" id="alert_mess" style="display:block; opacity:1">
        <span class="closebtn">&times;</span>  
        <strong>Thông báo !</strong>  <%= error_messages%>
      </div>
      <% } %> 
  <% if(locals.success_messages.length > 0) {%> 
  <div class="alert successCart" id="alert_mess" style="display:block; opacity:1">
    <span class="closebtn">&times;</span>  
    <strong>Thông báo !</strong> <%= success_messages%> 
  </div>
  <% } %> 
  
  <!--
  <div class="alert warning">
    <span class="closebtn">&times;</span>  
    <strong>Warning!</strong> Indicates a warning that might need attention.
  </div>
   --> 
  <script>
  </script>
  
<div class="header">
    <div class="top-header">
        <span class="info-header">
            <a href="/hethong">Hệ thống cửa hàng</a>
            <a href="/hotro">Liên hệ hỗ trợ</a>
            <a href="/tuyendung">Tin tuyển dụng</a>
        </span>
        <% if(!sessionUser){ %> 
        <span class="login-header">
            <a href="/account/login">Đăng nhập</a>
            <a href="/account/register">Đăng ký</a>
        </span>
        <% } %> 
    </div>
    <div class="main-header">
        <div class="logo">
            <a href="/">LTStore</a>
        </div>
        <div class="search-header">
            <form method="get" action="/collections"  class="form-search" >
                <input type="text" name="key" placeholder="Bạn muốn mua gì ?" >
                <button type="submit" class="btnSearch">TÌM KIẾM</button>
            </form>
        </div>
        <div class="cart-header">
            <button onclick="window.location.href='/cart';"  class="btnCart">Giỏ hàng của bạn<i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </div>
    <div class="menu-header">
        <div class="list-product">
            <ul>
                <li></i><a style="color: #fff;" href="/"> <i style="color: #fff; margin-right:5px;" class="fa-solid fa-list"></i>Danh mục sản phẩm</a>
                    <ul class="menu-drop-1">
                        <li><a href="/">Sách tiếng việt <i class="fa-solid fa-angle-right"></i></a></li>
                        <li><a href="/">Sách ngoại văn</a></li>
                        <li><a href="/">Văn phòng phẩm <i class="fa-solid fa-angle-right"></i></a></li>
                        <li><a href="/">Đồ trang trí- Lưu niệm</a></li>
                        <li><a href="/">Đồ chơi <i class="fa-solid fa-angle-right"></i></a></li>
                        <li><a href="/">Theo nhà cung cấp <i class="fa-solid fa-angle-right"></i></a></li>
                    </ul>
                </li>
                <li><a href="/collections">Sách giáo khoa</a></li>
                <li><a href="/">Sách thiếu nhi</a></li>
                <li><a href="/">Sách văn học </a></li>
                <li><a href="/">Trinh thám</a></li>
                <li><a href="/collections">Tất cả sản phẩm</a></li>
                <div style="clear: both;"></div>
            </ul>
        </div>
        
        <% if(sessionUser) { %> 
        <div class="account">
            <h5> <i class="fa-regular fa-user"></i> <%= sessionUser  %> <i class="fa-solid fa-caret-down"></i></h5>
            <ul class="account-list">
                <li><a href="/">Lịch sử mua hàng</a></li>
                <li><a href="/account/changepass">Đổi mật khẩu</a></li>
                <li><a href="/account/logout">Đăng xuất</a></li>
            </ul>
        </div>
        <% } %> 
        <div style="clear: both;"></div>
    </div>
    
</div>