.content{
    margin-left: 10%;
    margin-right: 10%;
}
.main-register{
    text-align: center;
    padding: 20px;
}
.main-register h4{
    font-weight: bold;
    margin: auto;
    padding: 10px 20px 10px 20px;
    width: 30%;
    background-color: #e0e0e0;
}

.main-register input{
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220);
}
.main-register button[type="submit"]{
    border: none;
    background-color: #00ab9f;
    color: #fff;
    cursor: pointer;    
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    padding: 8px;
    border-radius: 4px;
}
.main-register button[type="button"]{
    border: none;
    background-color: #f3f3f3;
    color:#00ab9f;
    cursor: pointer;    
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    padding: 8px;
    border-radius: 4px;
}

/* error */

.err{
    background-color: rgb(188, 61, 61);
    padding: 5px;
    width: fit-content;
    margin: auto;
    color: #fff;
    border-radius: 4px;
    margin-top: 0.5%;
}
.err_email{
    display: none;
}
.err_pass1{
    display: none;
}
.err_pass2{
    display: none;
}
.err_phone{
    display: none;
}
.err_regis{
    display: block;
    background-color: rgb(188, 61, 61);
    padding: 5px;
    width: fit-content;
    margin: auto;
    color: #fff;
    border-radius: 4px;
    margin-top: 0.5%;
}
.success{
    display: none;
}